body{
  font-family: sans-serif;
  margin: 0;
  background-color: #dcf5ef;
    color: #333;
  
}

header {
    background-color: #f0bddf; 
    padding: 15px 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover {
    color: #e94560; 
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('https://store-images.s-microsoft.com/image/apps.15909.68327322396008232.effd08b7-88b7-43b0-b91d-4689a0c70a05.8cb751bd-d0c8-4352-a273-a7bb62dd5c4b?q=90&w=480&h=270');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 80px 20px;
    text-align: center;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
}

.text {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 700px;
}

.btn {
    background-image:linear-gradient( to left, #f5d3dc,#b995c9, #98ad7b, #b07b78, #7eaae0, #584b66) ;
    color: #ffffff;
    padding: 15px 35px;
    border: none;
    border-radius: 8px; 
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(233, 69, 96, 0.4);
    
}


.card-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
}

.card-conteiner h2, .game h2 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: #1a1a2e;
}


.card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08); 
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.card img {
    width: 100%;
    height: 370px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
    color: #1a1a2e;
    font-size: 25px;
}

.card p {
    color: #666666;
}

.game .card {
    background-color: transparent;
    width: 100%;
    padding: 0;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    list-style: none;
    width: 100%;
}

.cards-container li {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    width: 280px;
    text-align: center;
    transition: 0.5s;
}

.cards-container li h3 {
    color: #e94560; 
    margin-bottom: 12px;
}

.cards-container li p {
    color: #555555;
}

.Evade:hover{
    background-color: #f5d3dc;
}

.Dress:hover{
    background-color: #b995c9;
}

.Night:hover{
    background-color: #98ad7b;
}

.Blade:hover{
    background-color: #b07b78;
}

.Murder:hover{
    background-color: #7eaae0;
}

.Violence:hover{
    background-color:#a28abd
;
}

footer {
    background-color: #f0bddf;
    color: #888888;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}

.footer-text {
    font-size: 14px;
}
